:root {
    /*This has to be set to enable default dark/light mode*/
    color-scheme: light dark;
}

body {
    color: light-dark(#222222, #E0E0E0);
    background-color: light-dark(#FFFFFF, #121212);
    padding: 0;
    margin: 0;
}

.container{
    width: 200px;
    height: 200px;
    position: relative;
}
.box{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;  /* for demo purpose  */
    margin-top: 0;
}

.button{
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
}

input{
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
}