.topnav {
    overflow: hidden;
    background-color: light-dark(#D0D0D0,#303030);
    height: 50px;
    position: relative;
    margin-right: 100px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.topnav a {
    float: right;
    display: block;
    color: light-dark(#101010,#f2f2f2);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: light-dark(white,black);
    color: light-dark(black,white);
}

.topnav p {
    float: right;
    display: block;
    color: light-dark(#0D0D0D,#f2f2f2);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.topnav button{
    display: block;
    background-color: light-dark(#CFCFCF,#303030);
    color: light-dark(#0D0D0D,#f2f2f2);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.topnav button:hover {
    background-color: black;
    color: white;
}

.topnav a.active {
    background-color: light-dark(#FB5592,#04AA6D);
}