:root {
    /*This has to be set to enable default dark/light mode*/
    color-scheme: light dark;
}


.popup-overlay {

    display: none;

    position: fixed;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    background: rgba(0, 0, 0, 0.5);

}

.popup {

    font-family: Arial, sans-serif;

    position: absolute;

    top: 25%;

    left: 50%;

    transform: translate(-50%, -50%);

    background: light-dark(
            color-mix(in oklch, Canvas 92%, black),
            color-mix(in oklch, Canvas 94%, black)
    );

    padding: 20px;

    border-radius: 8px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

.popup .close {

    position: absolute;

    top: 10px;

    right: 10px;

    font-size: 20px;

    cursor: pointer;

    color: light-dark(#222222, #E0E0E0);

}

.popup #emailInput {

    width: 80%;

    padding: 10px;

    margin: 10px 0;

    border: 1px solid #ddd;

    border-radius: 4px;

}

.popup button {

    background-color: #4caf50;

    color: #fff;

    padding: 10px 20px;

    border: none;

    border-radius: 4px;

    cursor: pointer;

    font-size: 16px;

}