/* Navigation styles */
.topnav {
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: light-dark(#D0D0D0, #303030);
    min-height: 50px;
    flex-wrap: wrap;
}

.topnav > li {
    margin: 0;
}

.topnav a {
    display: block;
    color: light-dark(#101010, #f2f2f2);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.2s;
}

.topnav a:hover {
    background-color: light-dark(white, black);
    color: light-dark(black, white);
}

.topnav a.active {
    background-color: light-dark(#FB5592, #04AA6D);
    color: white;
}

/* Account dropdown */
.account-dropdown {
    position: relative;
}

.dropdown-toggle {
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 160px;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: light-dark(#D0D0D0, #303030);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.account-dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    margin: 0;
}

.dropdown-menu a {
    text-align: left;
    white-space: nowrap;
}

/* Mobile responsive */
@media (max-width: 600px) {
    .topnav {
        flex-direction: column;
    }

    .topnav a {
        text-align: left;
    }

    .account-dropdown {
        order: -1;
    }

    .dropdown-menu {
        position: static;
        box-shadow: none;
    }

    .account-dropdown:hover .dropdown-menu {
        display: block;
    }
}
