on:
  release:
    types: [published]

name: Deploy website
jobs:
  web-deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Get latest code
        uses: actions/checkout@v4

      - name: Sync files
        uses: SamKirkland/FTP-Deploy-Action@v4.3.6
        with:
          server: w020601f.kasserver.com
          username: w020601f
          password: ${{ secrets.ftp_password }}